%% -*- erlang -*-
%%     exobus client config
%%

[
 {lager, [{log_root, "log_client"}, 
	  {colored, true},
	  {handlers, [
		      {lager_console_backend, 
		       [info, {lager_default_formatter, 
				[date, " ", time," [",severity,"] ",pid, " ", 
				 module, ":", line, " ", message, "\n"]}]},
		      {lager_file_backend, 
		       [{file, "error.log"}, {level, warning}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]},
		      {lager_file_backend, 
		       [{file, "console.log"}, {level, info}, 
			{size, 10485760}, {date, "$D0"}, {count, 5}]}
		     ]}
	 ]},

 {exobus,
  [{reopen_timeout, 5000},
   {ping_interval,  3000},
   {servers,
    [
     {"broker",
      [
       {id, "user1"},
       {server_ip, "127.0.0.1"},
       {server_port, 17834},
       {server_key, 7442846832173252901},
       {client_key, 13941531922888632147},
       {reopen_timeout, 3000},
       {subscribe,[<<"a">>, <<"b">>, <<"c">>,
		   <<"x">>, <<"y">>, <<"z">>]}
      ]}
    ]}
  ]}
].
