%% -*- erlang -*-
%% Config file for exobus application

{deps, [
        {exo, ".*", {git, "https://github.com/tonyrog/exo.git"}},
        {ebus, ".*", {git, "https://github.com/tonyrog/erlbus.git"}},
	{lager, ".*", {git, "https://github.com/basho/lager.git"}}
       ]}.

{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
